language: node_js

node_js:
  - node
  - lts/*

cache:
  directories:
    - node_modules

stages:
  - lint
  - test
  - name: Build assets
    if: branch = develop OR branch =~ ^release
  - name: GitHub release
    if: branch = master
  - name: npm release
    if: tag =~ ^v
  - name: GitHub pages
    if: tag =~ ^v

jobs:
  include:
    - stage: lint
      script: npm run lint
      node_js: node

    - stage: lint
      script: npm run lint
      node_js: lts/*

    - stage: Build assets
      skip_cleanup: true
      before_script:
        - npm run build
        - npm run build_docs
      script: deploy/develop.sh
      node_js: node
      on:
        branch:
          - develop
          - release/*

    - stage: GitHub release
      node_js: node
      script: skip
      deploy:
        provider: releases
        api_key: $GITHUB_TOKEN
        skip_cleanup: true
        on:
          branch: master

    - stage: npm release
      node_js: node
      script: echo "Deploying to npm ..."
      deploy:
        provider: npm
        api_key: $NPM_API_KEY
        on:
          tags: true

    - stage: GitHub pages
      script:
        - npm run build
        - npm run build_docs
        - node index.js --config demo.nucleus.json
      node_js: node
      deploy:
        provider: pages
        local_dir: docs/build
        skip_cleanup: true
        github_token: $GITHUB_TOKEN
        on:
          tags: true
