
language: node_js

node_js:
  - lts/*
  - node
  - 10
  - 9
  - 8
  - 7
  - 6
  - 5
  - 4
  - 0.12

cache:
  directories:
    - node_modules

stages:
  - lint
  - test
  - name: Build assets
    if: branch = develop OR branch =~ ^release
  - name: GitHub pages
    if: branch = master AND type IN (push)
  - name: npm release
    if: tag =~ ^v

jobs:
  include:
    - stage: lint
      script: npm run lint

    - stage: Build assets
      skip_cleanup: true
      before_script:
        - npm run build
        - npm run build_docs
      script: deploy/develop.sh
      node_js: node
      on:
        branch:
          - develop
          - release/*

    - stage: npm release
      node_js: node
      script: echo "Deploying to npm ..."
      deploy:
        provider: npm
        email: $NPM_EMAIL
        api_key: $NPM_API_KEY
        on:
          tags: true

    - stage: GitHub pages
      skip_cleanup: true
      before_script:
        - npm run build
        - npm run build_docs
        - node index.js --config demo.nucleus.json
      script: deploy/gh-pages.sh
      node_js: node
      on:
        branch: master
