/**
 * List entry for the feature list on the landing page, consisting of an icon,
 * a brief description and a link to the corresponding documentation page.
 *
 * @molecule Feature
 * @section Landing-Page
 * @markup
 *  <a class="feature" href="#">
 *    <i class="ico ico--tools"></i>
 *    <span class="feature__description">
 *      Fits well in new and mature projects
 *    </span>
 *    <span class="SG-button">Getting started</a>
 *  </a>
 */
.feature {
  display: inline-block;
  position: relative;
  border-radius: 5px;
  padding: 40px 10px;
  height: 330px;
  text-align: center;
  text-decoration: none;

  .SG-button {
    position: absolute;
    bottom: 20px;
    left: 7%;
    width: 86%;
  }

  .ico {
    display: block;
    color: $color--pink;
    font-size: 70px;
  }

  .feature__description {
    @include lato(600);

    display: block;
    margin: 1.5em 0 2em;
    color: $color--dark-gray;
    font-size: 21px;
  }

  // Pink box with white text
  &:hover {
    background-color: $color--pink;

    .ico::before,
    .feature__description {
      color: white;
    }

    .SG-button {
      border-color: white;
      color: white;
    }
  }
}
