/**
 * Composition of various landing page components with a colorful background and the preview
 * window in the center to give the first glimpse of what nuclues is doing.
 *
 * @flag full-width
 * @structure Landing-Page Hero
 * @section Landing-Page
 * @markup
 *  <div class="hero">
 *    @{include:.SG-header}
 *    <h1>
 *      Powerfull management for crafted styles
 *      <small>A living style guide generator that will boost your efficiency</small>
 *    </h1>
 *    @{include:.window}
 *    <nav>
 *      <a class="SG-button SG-button--white SG-button--large">CTA Button</a>
 *    </nav>
 *  </div>
 */
.hero {
  @include clearHard();

  position: relative;
  background: #b24592;
  background: linear-gradient(-45deg, #f15f79 20%, #b24592 80%);
  width: 100%;

  &::after {
    display: block;
    position: absolute;
    bottom: -39px;
    border-top: 1px solid #fff;
    border-radius: 0 0 100% 100%;
    box-shadow: 0 -23px 14px white inset;
    background: linear-gradient(to bottom, rgb(255, 204, 213), white 50%);
    background-size: 131%;
    width: 100%;
    height: 39px;
    content: '';
  }

  h1 {
    @include lato(300);

    margin-top: 1.5em;
    text-align: center;
    text-shadow: 0 1px #a0518e;
    color: white;
    font-size: 46px;

    small {
      display: block;
      margin: 1em 0;
      font-size: .5em;
    }
  }

  nav {
    padding: 40px 0;
    text-align: center;
    text-transform: uppercase;

    .SG-button:not(:last-child) {
      margin-right: 10px;
    }
  }

  .SG-nav {
    display: none;
  }

  .SG-logo,
  .SG-nav-icons__item {
    color: white;

    &:hover {
      color: white !important;
    }
  }

  .SG-header {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(white, .3);

    &::before {
      display: none;
    }
  }
}
